<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="username">
	{$username_editcontrol}
	</control>
	<control field="email">
	{$email_editcontrol}
	</control>
	<control field="password">
	{$password_editcontrol}
	</control>
	<control field="fullname">
	{$fullname_editcontrol}
	</control>
	<control field="groupid">
	{$groupid_editcontrol}
	</control>
	<control field="active">
	{$active_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>