<div class="bs-welcome">

		{BEGIN item1_menulink}
		<div class="col-lg-3 col-md-4 col-sm-6">
		<div class="bs-welcome-item">
			<div class="bs-welcome-header" {$item1_menulink_style}> 
				<a {$item1_menulink_attrs}>{$item1_icon}{$item1_title}</a>
			</div>
			{BEGIN item1_comments}
			<div class="bs-welcome-content">
				{$item1_comments_text}
			</div>
			{END item1_comments}
		</div>
	</div>
	{END item1_menulink}
	
	
		{BEGIN item2_menulink}
		<div class="col-lg-3 col-md-4 col-sm-6">
		<div class="bs-welcome-item">
			<div class="bs-welcome-header" {$item2_menulink_style}> 
				<a {$item2_menulink_attrs}>{$item2_icon}{$item2_title}</a>
			</div>
			{BEGIN item2_comments}
			<div class="bs-welcome-content">
				{$item2_comments_text}
			</div>
			{END item2_comments}
		</div>
	</div>
	{END item2_menulink}
	
	
		{BEGIN item3_menulink}
		<div class="col-lg-3 col-md-4 col-sm-6">
		<div class="bs-welcome-item">
			<div class="bs-welcome-header" {$item3_menulink_style}> 
				<a {$item3_menulink_attrs}>{$item3_icon}{$item3_title}</a>
			</div>
			{BEGIN item3_comments}
			<div class="bs-welcome-content">
				{$item3_comments_text}
			</div>
			{END item3_comments}
		</div>
	</div>
	{END item3_menulink}
	
	
		{BEGIN item4_menulink}
		<div class="col-lg-3 col-md-4 col-sm-6">
		<div class="bs-welcome-item">
			<div class="bs-welcome-header" {$item4_menulink_style}> 
				<a {$item4_menulink_attrs}>{$item4_icon}{$item4_title}</a>
			</div>
			{BEGIN item4_comments}
			<div class="bs-welcome-content">
				{$item4_comments_text}
			</div>
			{END item4_comments}
		</div>
	</div>
	{END item4_menulink}
	
	
		{BEGIN item5_menulink}
		<div class="col-lg-3 col-md-4 col-sm-6">
		<div class="bs-welcome-item">
			<div class="bs-welcome-header" {$item5_menulink_style}> 
				<a {$item5_menulink_attrs}>{$item5_icon}{$item5_title}</a>
			</div>
			{BEGIN item5_comments}
			<div class="bs-welcome-content">
				{$item5_comments_text}
			</div>
			{END item5_comments}
		</div>
	</div>
	{END item5_menulink}
	
	
		{BEGIN item6_menulink}
		<div class="col-lg-3 col-md-4 col-sm-6">
		<div class="bs-welcome-item">
			<div class="bs-welcome-header" {$item6_menulink_style}> 
				<a {$item6_menulink_attrs}>{$item6_icon}{$item6_title}</a>
			</div>
			{BEGIN item6_comments}
			<div class="bs-welcome-content">
				{$item6_comments_text}
			</div>
			{END item6_comments}
		</div>
	</div>
	{END item6_menulink}
	
	
		{BEGIN item7_menulink}
		<div class="col-lg-3 col-md-4 col-sm-6">
		<div class="bs-welcome-item">
			<div class="bs-welcome-header" {$item7_menulink_style}> 
				<a {$item7_menulink_attrs}>{$item7_icon}{$item7_title}</a>
			</div>
			{BEGIN item7_comments}
			<div class="bs-welcome-content">
				{$item7_comments_text}
			</div>
			{END item7_comments}
		</div>
	</div>
	{END item7_menulink}
	
	
		{BEGIN item8_menulink}
		<div class="col-lg-3 col-md-4 col-sm-6">
		<div class="bs-welcome-item">
			<div class="bs-welcome-header" {$item8_menulink_style}> 
				<a {$item8_menulink_attrs}>{$item8_icon}{$item8_title}</a>
			</div>
			{BEGIN item8_comments}
			<div class="bs-welcome-content">
				{$item8_comments_text}
			</div>
			{END item8_comments}
		</div>
	</div>
	{END item8_menulink}
	
	
		{BEGIN item9_menulink}
		<div class="col-lg-3 col-md-4 col-sm-6">
		<div class="bs-welcome-item">
			<div class="bs-welcome-header" {$item9_menulink_style}> 
				<a {$item9_menulink_attrs}>{$item9_icon}{$item9_title}</a>
			</div>
			{BEGIN item9_comments}
			<div class="bs-welcome-content">
				{$item9_comments_text}
			</div>
			{END item9_comments}
		</div>
	</div>
	{END item9_menulink}
	
	
		{BEGIN item10_menulink}
		<div class="col-lg-3 col-md-4 col-sm-6">
		<div class="bs-welcome-item">
			<div class="bs-welcome-header" {$item10_menulink_style}> 
				<a {$item10_menulink_attrs}>{$item10_icon}{$item10_title}</a>
			</div>
			{BEGIN item10_comments}
			<div class="bs-welcome-content">
				{$item10_comments_text}
			</div>
			{END item10_comments}
		</div>
	</div>
	{END item10_menulink}
	
	
</div>


