{BEGIN mainmenu_block}
	<ul class="rnr-b-vmenu tree {$menustyle}" data-menuname="{$menuName}">
{BEGIN menu_collapse_expand_all}
	<li class="manage">
		<div>
			<a href="#"><img alt="*" src="images/plus.gif">
				<span class=expand>{mlang_message EXPAND_ALL}</span>
				<span class="hide" style="display:none;">{mlang_message COLLAPSE_ALL}</span>
			</a>
		</div>
	</li>
{END menu_collapse_expand_all}
	{BEGIN item1_menulink}
	<li id="item1" class="{$item1_groupclass} {$item1_current} menuGroup" level=1>
			<div>
{BEGIN item1_groupimage}
<span class="groupbox">
<img alt="*" src="images/plus.gif" class="groupImg">
</span>
{END item1_groupimage}
<img class="menu-icon" src="images/menuicons/asterisk_orange.png" border=0>
<a {$item1_menulink_attrs} class="{$item1_current}">{$item1_title}</a>
</div>

	</li>	
			{BEGIN item2_menulink}
			<li id="item2" style="display:none" class="subitem level2 {$item2_groupclass} {$item2_current} menuLeaf" level=2>
					<div>
<a {$item2_menulink_attrs} class="{$item2_current}">{$item2_title}</a>
</div>

			</li>	
			{END item2_menulink}
			{BEGIN item3_menulink}
			<li id="item3" style="display:none" class="subitem level2 {$item3_groupclass} {$item3_current} menuLeaf" level=2>
					<div>
<a {$item3_menulink_attrs} class="{$item3_current}">{$item3_title}</a>
</div>

			</li>	
			{END item3_menulink}
			{BEGIN item4_menulink}
			<li id="item4" style="display:none" class="subitem level2 {$item4_groupclass} {$item4_current} menuLeaf" level=2>
					<div>
<a {$item4_menulink_attrs} class="{$item4_current}">{$item4_title}</a>
</div>

			</li>	
			{END item4_menulink}
			{BEGIN item5_menulink}
			<li id="item5" style="display:none" class="subitem level2 {$item5_groupclass} {$item5_current} menuLeaf" level=2>
					<div>
<a {$item5_menulink_attrs} class="{$item5_current}">{$item5_title}</a>
</div>

			</li>	
			{END item5_menulink}
			{BEGIN item6_menulink}
			<li id="item6" style="display:none" class="subitem level2 {$item6_groupclass} {$item6_current} menuLeaf" level=2>
					<div>
<a {$item6_menulink_attrs} class="{$item6_current}">{$item6_title}</a>
</div>

			</li>	
			{END item6_menulink}
			{BEGIN item7_menulink}
			<li id="item7" style="display:none" class="subitem level2 {$item7_groupclass} {$item7_current} menuLeaf" level=2>
					<div>
<a {$item7_menulink_attrs} class="{$item7_current}">{$item7_title}</a>
</div>

			</li>	
			{END item7_menulink}
			{BEGIN item8_menulink}
			<li id="item8" style="display:none" class="subitem level2 {$item8_groupclass} {$item8_current} menuLeaf" level=2>
					<div>
<a {$item8_menulink_attrs} class="{$item8_current}">{$item8_title}</a>
</div>

			</li>	
			{END item8_menulink}
			{BEGIN item9_menulink}
			<li id="item9" style="display:none" class="subitem level2 {$item9_groupclass} {$item9_current} menuLeaf" level=2>
					<div>
<a {$item9_menulink_attrs} class="{$item9_current}">{$item9_title}</a>
</div>

			</li>	
			{END item9_menulink}
			{BEGIN item10_menulink}
			<li id="item10" style="display:none" class="subitem level2 {$item10_groupclass} {$item10_current} menuLeaf" level=2>
					<div>
<a {$item10_menulink_attrs} class="{$item10_current}">{$item10_title}</a>
</div>

			</li>	
			{END item10_menulink}
			{BEGIN item11_menulink}
			<li id="item11" style="display:none" class="subitem level2 {$item11_groupclass} {$item11_current} menuLeaf" level=2>
					<div>
<a {$item11_menulink_attrs} class="{$item11_current}">{$item11_title}</a>
</div>

			</li>	
			{END item11_menulink}
	{END item1_menulink}
	{BEGIN item12_menulink}
	<li id="item12" class="{$item12_groupclass} {$item12_current} menuGroup" level=1>
			<div>
{BEGIN item12_groupimage}
<span class="groupbox">
<img alt="*" src="images/plus.gif" class="groupImg">
</span>
{END item12_groupimage}
<img class="menu-icon" src="images/menuicons/areachart.png" border=0>
<a {$item12_menulink_attrs} class="{$item12_current}">{$item12_title}</a>
</div>

	</li>	
			{BEGIN item13_menulink}
			<li id="item13" style="display:none" class="subitem level2 {$item13_groupclass} {$item13_current} menuLeaf" level=2>
					<div>
<a {$item13_menulink_attrs} class="{$item13_current}">{$item13_title}</a>
</div>

			</li>	
			{END item13_menulink}
			{BEGIN item14_menulink}
			<li id="item14" style="display:none" class="subitem level2 {$item14_groupclass} {$item14_current} menuLeaf" level=2>
					<div>
<a {$item14_menulink_attrs} class="{$item14_current}">{$item14_title}</a>
</div>

			</li>	
			{END item14_menulink}
			{BEGIN item15_menulink}
			<li id="item15" style="display:none" class="subitem level2 {$item15_groupclass} {$item15_current} menuLeaf" level=2>
					<div>
<a {$item15_menulink_attrs} class="{$item15_current}">{$item15_title}</a>
</div>

			</li>	
			{END item15_menulink}
			{BEGIN item16_menulink}
			<li id="item16" style="display:none" class="subitem level2 {$item16_groupclass} {$item16_current} menuLeaf" level=2>
					<div>
<a {$item16_menulink_attrs} class="{$item16_current}">{$item16_title}</a>
</div>

			</li>	
			{END item16_menulink}
			{BEGIN item17_menulink}
			<li id="item17" style="display:none" class="subitem level2 {$item17_groupclass} {$item17_current} menuLeaf" level=2>
					<div>
<a {$item17_menulink_attrs} class="{$item17_current}">{$item17_title}</a>
</div>

			</li>	
			{END item17_menulink}
			{BEGIN item18_menulink}
			<li id="item18" style="display:none" class="subitem level2 {$item18_groupclass} {$item18_current} menuLeaf" level=2>
					<div>
<a {$item18_menulink_attrs} class="{$item18_current}">{$item18_title}</a>
</div>

			</li>	
			{END item18_menulink}
	{END item12_menulink}
	{BEGIN item19_menulink}
	<li id="item19" class="{$item19_groupclass} {$item19_current} menuGroup" level=1>
			<div>
{BEGIN item19_groupimage}
<span class="groupbox">
<img alt="*" src="images/plus.gif" class="groupImg">
</span>
{END item19_groupimage}
<img class="menu-icon" src="images/menuicons/3d bar chart.png" border=0>
<a {$item19_menulink_attrs} class="{$item19_current}">{$item19_title}</a>
</div>

	</li>	
			{BEGIN item20_menulink}
			<li id="item20" style="display:none" class="subitem level2 {$item20_groupclass} {$item20_current} menuLeaf" level=2>
					<div>
<a {$item20_menulink_attrs} class="{$item20_current}">{$item20_title}</a>
</div>

			</li>	
			{END item20_menulink}
			{BEGIN item21_menulink}
			<li id="item21" style="display:none" class="subitem level2 {$item21_groupclass} {$item21_current} menuLeaf" level=2>
					<div>
<a {$item21_menulink_attrs} class="{$item21_current}">{$item21_title}</a>
</div>

			</li>	
			{END item21_menulink}
	{END item19_menulink}
	{BEGIN item22_menulink}
	<li id="item22" class="{$item22_groupclass} {$item22_current} menuLeaf" level=1>
			<div>
<img class="menu-icon" src="images/menuicons/evacuator.png" border=0>
<a {$item22_menulink_attrs} class="{$item22_current}">{$item22_title}</a>
</div>

	</li>	
	{END item22_menulink}
	{BEGIN item23_menulink}
	<li id="item23" class="{$item23_groupclass} {$item23_current} menuGroup" level=1>
			<div>
{BEGIN item23_groupimage}
<span class="groupbox">
<img alt="*" src="images/plus.gif" class="groupImg">
</span>
{END item23_groupimage}
<img class="menu-icon" src="images/menuicons/application_view_tile.png" border=0>
<a {$item23_menulink_attrs} class="{$item23_current}">{$item23_title}</a>
</div>

	</li>	
			{BEGIN item24_menulink}
			<li id="item24" style="display:none" class="subitem level2 {$item24_groupclass} {$item24_current} menuLeaf" level=2>
					<div>
<a {$item24_menulink_attrs} class="{$item24_current}">{$item24_title}</a>
</div>

			</li>	
			{END item24_menulink}
			{BEGIN item25_menulink}
			<li id="item25" style="display:none" class="subitem level2 {$item25_groupclass} {$item25_current} menuLeaf" level=2>
					<div>
<a {$item25_menulink_attrs} class="{$item25_current}">{$item25_title}</a>
</div>

			</li>	
			{END item25_menulink}
			{BEGIN item26_menulink}
			<li id="item26" style="display:none" class="subitem level2 {$item26_groupclass} {$item26_current} menuLeaf" level=2>
					<div>
<a {$item26_menulink_attrs} class="{$item26_current}">{$item26_title}</a>
</div>

			</li>	
			{END item26_menulink}
			{BEGIN item27_menulink}
			<li id="item27" style="display:none" class="subitem level2 {$item27_groupclass} {$item27_current} menuLeaf" level=2>
					<div>
<a {$item27_menulink_attrs} class="{$item27_current}">{$item27_title}</a>
</div>

			</li>	
			{END item27_menulink}
	{END item23_menulink}
	{BEGIN item28_menulink}
	<li id="item28" class="{$item28_groupclass} {$item28_current} menuGroup" level=1>
			<div>
{BEGIN item28_groupimage}
<span class="groupbox">
<img alt="*" src="images/plus.gif" class="groupImg">
</span>
{END item28_groupimage}
<img class="menu-icon" src="images/menuicons/Sync.png" border=0>
<a {$item28_menulink_attrs} class="{$item28_current}">{$item28_title}</a>
</div>

	</li>	
			{BEGIN item29_menulink}
			<li id="item29" style="display:none" class="subitem level2 {$item29_groupclass} {$item29_current} menuLeaf" level=2>
					<div>
<a {$item29_menulink_attrs} class="{$item29_current}">{$item29_title}</a>
</div>

			</li>	
			{END item29_menulink}
			{BEGIN item30_menulink}
			<li id="item30" style="display:none" class="subitem level2 {$item30_groupclass} {$item30_current} menuLeaf" level=2>
					<div>
<a {$item30_menulink_attrs} class="{$item30_current}">{$item30_title}</a>
</div>

			</li>	
			{END item30_menulink}
			{BEGIN item31_menulink}
			<li id="item31" style="display:none" class="subitem level2 {$item31_groupclass} {$item31_current} menuLeaf" level=2>
					<div>
<a {$item31_menulink_attrs} class="{$item31_current}">{$item31_title}</a>
</div>

			</li>	
			{END item31_menulink}
			{BEGIN item32_menulink}
			<li id="item32" style="display:none" class="subitem level2 {$item32_groupclass} {$item32_current} menuLeaf" level=2>
					<div>
<a {$item32_menulink_attrs} class="{$item32_current}">{$item32_title}</a>
</div>

			</li>	
			{END item32_menulink}
			{BEGIN item33_menulink}
			<li id="item33" style="display:none" class="subitem level2 {$item33_groupclass} {$item33_current} menuLeaf" level=2>
					<div>
<a {$item33_menulink_attrs} class="{$item33_current}">{$item33_title}</a>
</div>

			</li>	
			{END item33_menulink}
	{END item28_menulink}
	{BEGIN item34_menulink}
	<li id="item34" class="{$item34_groupclass} {$item34_current} menuGroup" level=1>
			<div>
{BEGIN item34_groupimage}
<span class="groupbox">
<img alt="*" src="images/plus.gif" class="groupImg">
</span>
{END item34_groupimage}
<img class="menu-icon" src="images/menuicons/setting_tools.png" border=0>
<a {$item34_menulink_attrs} class="{$item34_current}">{$item34_title}</a>
</div>

	</li>	
			{BEGIN item35_menulink}
			<li id="item35" style="display:none" class="subitem level2 {$item35_groupclass} {$item35_current} menuLeaf" level=2>
					<div>
<a {$item35_menulink_attrs} class="{$item35_current}">{$item35_title}</a>
</div>

			</li>	
			{END item35_menulink}
			{BEGIN item36_menulink}
			<li id="item36" style="display:none" class="subitem level2 {$item36_groupclass} {$item36_current} menuLeaf" level=2>
					<div>
<a {$item36_menulink_attrs} class="{$item36_current}">{$item36_title}</a>
</div>

			</li>	
			{END item36_menulink}
	{END item34_menulink}
	{BEGIN item37_menulink}
	<li id="item37" class="{$item37_groupclass} {$item37_current} menuLeaf" level=1>
			<div>
<img class="menu-icon" src="images/menuicons/wrench_orange.png" border=0>
<a {$item37_menulink_attrs} class="{$item37_current}">{$item37_title}</a>
</div>

	</li>	
	{END item37_menulink}
	{BEGIN item38_menulink}
	<li id="item38" class="{$item38_groupclass} {$item38_current} menuGroup" level=1>
			<div>
{BEGIN item38_groupimage}
<span class="groupbox">
<img alt="*" src="images/plus.gif" class="groupImg">
</span>
{END item38_groupimage}
<img class="menu-icon" src="images/menuicons/Alarm clock.png" border=0>
<a {$item38_menulink_attrs} class="{$item38_current}">{$item38_title}</a>
</div>

	</li>	
			{BEGIN item39_menulink}
			<li id="item39" style="display:none" class="subitem level2 {$item39_groupclass} {$item39_current} menuLeaf" level=2>
					<div>
<a {$item39_menulink_attrs} class="{$item39_current}">{$item39_title}</a>
</div>

			</li>	
			{END item39_menulink}
			{BEGIN item40_menulink}
			<li id="item40" style="display:none" class="subitem level2 {$item40_groupclass} {$item40_current} menuLeaf" level=2>
					<div>
<a {$item40_menulink_attrs} class="{$item40_current}">{$item40_title}</a>
</div>

			</li>	
			{END item40_menulink}
	{END item38_menulink}
	{BEGIN item41_menulink}
	<li id="item41" class="{$item41_groupclass} {$item41_current} menuLeaf" level=1>
			<div>
<img class="menu-icon" src="images/menuicons/traffic_lights.png" border=0>
<a {$item41_menulink_attrs} class="{$item41_current}">{$item41_title}</a>
</div>

	</li>	
	{END item41_menulink}
	{BEGIN item42_menulink}
	<li id="item42" class="{$item42_groupclass} {$item42_current} menuLeaf" level=1>
			<div>
<img class="menu-icon" src="images/menuicons/umbrella.png" border=0>
<a {$item42_menulink_attrs} class="{$item42_current}">{$item42_title}</a>
</div>

	</li>	
	{END item42_menulink}
</ul>
{END mainmenu_block}


