	{BEGIN item1_menulink}
	<div id="item1" class="rnr-b-hmenu {$menustyle} Group {$item1_current}">
	<span class="rnr-hseparator"></span><div>
<img class="menu-icon" src="images/menuicons/asterisk_orange.png" border=0>
<a {$item1_menulink_attrs}>{$item1_title}</a></div>



			<ul >
			{BEGIN item2_menulink}
			<li  parent="group1" class="Leaf {$item2_current} menuLeaf">
			<div>
<div>
<a {$item2_menulink_attrs}>{$item2_title}</a>
</div>
</div>



			</li>
			{END item2_menulink}
					{BEGIN item3_menulink}
			<li  parent="group1" class="Leaf {$item3_current} menuLeaf">
			<div>
<div>
<a {$item3_menulink_attrs}>{$item3_title}</a>
</div>
</div>



			</li>
			{END item3_menulink}
					{BEGIN item4_menulink}
			<li  parent="group1" class="Leaf {$item4_current} menuLeaf">
			<div>
<div>
<a {$item4_menulink_attrs}>{$item4_title}</a>
</div>
</div>



			</li>
			{END item4_menulink}
					{BEGIN item5_menulink}
			<li  parent="group1" class="Leaf {$item5_current} menuLeaf">
			<div>
<div>
<a {$item5_menulink_attrs}>{$item5_title}</a>
</div>
</div>



			</li>
			{END item5_menulink}
					{BEGIN item6_menulink}
			<li  parent="group1" class="Leaf {$item6_current} menuLeaf">
			<div>
<div>
<a {$item6_menulink_attrs}>{$item6_title}</a>
</div>
</div>



			</li>
			{END item6_menulink}
					{BEGIN item7_menulink}
			<li  parent="group1" class="Leaf {$item7_current} menuLeaf">
			<div>
<div>
<a {$item7_menulink_attrs}>{$item7_title}</a>
</div>
</div>



			</li>
			{END item7_menulink}
					{BEGIN item8_menulink}
			<li  parent="group1" class="Leaf {$item8_current} menuLeaf">
			<div>
<div>
<a {$item8_menulink_attrs}>{$item8_title}</a>
</div>
</div>



			</li>
			{END item8_menulink}
					{BEGIN item9_menulink}
			<li  parent="group1" class="Leaf {$item9_current} menuLeaf">
			<div>
<div>
<a {$item9_menulink_attrs}>{$item9_title}</a>
</div>
</div>



			</li>
			{END item9_menulink}
					{BEGIN item10_menulink}
			<li  parent="group1" class="Leaf {$item10_current} menuLeaf">
			<div>
<div>
<a {$item10_menulink_attrs}>{$item10_title}</a>
</div>
</div>



			</li>
			{END item10_menulink}
					{BEGIN item11_menulink}
			<li  parent="group1" class="Leaf {$item11_current} menuLeaf">
			<div>
<div>
<a {$item11_menulink_attrs}>{$item11_title}</a>
</div>
</div>



			</li>
			{END item11_menulink}
			</ul>
	</div>
	{END item1_menulink}
	{BEGIN item12_menulink}
	<div id="item12" class="rnr-b-hmenu {$menustyle} Group {$item12_current}">
	<span class="rnr-hseparator"></span><div>
<img class="menu-icon" src="images/menuicons/areachart.png" border=0>
<a {$item12_menulink_attrs}>{$item12_title}</a></div>



			<ul >
			{BEGIN item13_menulink}
			<li  parent="group12" class="Leaf {$item13_current} menuLeaf">
			<div>
<div>
<a {$item13_menulink_attrs}>{$item13_title}</a>
</div>
</div>



			</li>
			{END item13_menulink}
					{BEGIN item14_menulink}
			<li  parent="group12" class="Leaf {$item14_current} menuLeaf">
			<div>
<div>
<a {$item14_menulink_attrs}>{$item14_title}</a>
</div>
</div>



			</li>
			{END item14_menulink}
					{BEGIN item15_menulink}
			<li  parent="group12" class="Leaf {$item15_current} menuLeaf">
			<div>
<div>
<a {$item15_menulink_attrs}>{$item15_title}</a>
</div>
</div>



			</li>
			{END item15_menulink}
					{BEGIN item16_menulink}
			<li  parent="group12" class="Leaf {$item16_current} menuLeaf">
			<div>
<div>
<a {$item16_menulink_attrs}>{$item16_title}</a>
</div>
</div>



			</li>
			{END item16_menulink}
					{BEGIN item17_menulink}
			<li  parent="group12" class="Leaf {$item17_current} menuLeaf">
			<div>
<div>
<a {$item17_menulink_attrs}>{$item17_title}</a>
</div>
</div>



			</li>
			{END item17_menulink}
					{BEGIN item18_menulink}
			<li  parent="group12" class="Leaf {$item18_current} menuLeaf">
			<div>
<div>
<a {$item18_menulink_attrs}>{$item18_title}</a>
</div>
</div>



			</li>
			{END item18_menulink}
			</ul>
	</div>
	{END item12_menulink}
	{BEGIN item19_menulink}
	<div id="item19" class="rnr-b-hmenu {$menustyle} Group {$item19_current}">
	<span class="rnr-hseparator"></span><div>
<img class="menu-icon" src="images/menuicons/3d bar chart.png" border=0>
<a {$item19_menulink_attrs}>{$item19_title}</a></div>



			<ul >
			{BEGIN item20_menulink}
			<li  parent="group19" class="Leaf {$item20_current} menuLeaf">
			<div>
<div>
<a {$item20_menulink_attrs}>{$item20_title}</a>
</div>
</div>



			</li>
			{END item20_menulink}
					{BEGIN item21_menulink}
			<li  parent="group19" class="Leaf {$item21_current} menuLeaf">
			<div>
<div>
<a {$item21_menulink_attrs}>{$item21_title}</a>
</div>
</div>



			</li>
			{END item21_menulink}
			</ul>
	</div>
	{END item19_menulink}
	{BEGIN item22_menulink}
	<div id="item22" class="rnr-b-hmenu {$menustyle} Leaf {$item22_current}">
	<span class="rnr-hseparator"></span><div>
<img class="menu-icon" src="images/menuicons/evacuator.png" border=0>
<a {$item22_menulink_attrs}>{$item22_title}</a></div>



	</div>
	{END item22_menulink}
	{BEGIN item23_menulink}
	<div id="item23" class="rnr-b-hmenu {$menustyle} Group {$item23_current}">
	<span class="rnr-hseparator"></span><div>
<img class="menu-icon" src="images/menuicons/application_view_tile.png" border=0>
<a {$item23_menulink_attrs}>{$item23_title}</a></div>



			<ul >
			{BEGIN item24_menulink}
			<li  parent="group23" class="Leaf {$item24_current} menuLeaf">
			<div>
<div>
<a {$item24_menulink_attrs}>{$item24_title}</a>
</div>
</div>



			</li>
			{END item24_menulink}
					{BEGIN item25_menulink}
			<li  parent="group23" class="Leaf {$item25_current} menuLeaf">
			<div>
<div>
<a {$item25_menulink_attrs}>{$item25_title}</a>
</div>
</div>



			</li>
			{END item25_menulink}
					{BEGIN item26_menulink}
			<li  parent="group23" class="Leaf {$item26_current} menuLeaf">
			<div>
<div>
<a {$item26_menulink_attrs}>{$item26_title}</a>
</div>
</div>



			</li>
			{END item26_menulink}
					{BEGIN item27_menulink}
			<li  parent="group23" class="Leaf {$item27_current} menuLeaf">
			<div>
<div>
<a {$item27_menulink_attrs}>{$item27_title}</a>
</div>
</div>



			</li>
			{END item27_menulink}
			</ul>
	</div>
	{END item23_menulink}
	{BEGIN item28_menulink}
	<div id="item28" class="rnr-b-hmenu {$menustyle} Group {$item28_current}">
	<span class="rnr-hseparator"></span><div>
<img class="menu-icon" src="images/menuicons/Sync.png" border=0>
<a {$item28_menulink_attrs}>{$item28_title}</a></div>



			<ul >
			{BEGIN item29_menulink}
			<li  parent="group28" class="Leaf {$item29_current} menuLeaf">
			<div>
<div>
<a {$item29_menulink_attrs}>{$item29_title}</a>
</div>
</div>



			</li>
			{END item29_menulink}
					{BEGIN item30_menulink}
			<li  parent="group28" class="Leaf {$item30_current} menuLeaf">
			<div>
<div>
<a {$item30_menulink_attrs}>{$item30_title}</a>
</div>
</div>



			</li>
			{END item30_menulink}
					{BEGIN item31_menulink}
			<li  parent="group28" class="Leaf {$item31_current} menuLeaf">
			<div>
<div>
<a {$item31_menulink_attrs}>{$item31_title}</a>
</div>
</div>



			</li>
			{END item31_menulink}
					{BEGIN item32_menulink}
			<li  parent="group28" class="Leaf {$item32_current} menuLeaf">
			<div>
<div>
<a {$item32_menulink_attrs}>{$item32_title}</a>
</div>
</div>



			</li>
			{END item32_menulink}
					{BEGIN item33_menulink}
			<li  parent="group28" class="Leaf {$item33_current} menuLeaf">
			<div>
<div>
<a {$item33_menulink_attrs}>{$item33_title}</a>
</div>
</div>



			</li>
			{END item33_menulink}
			</ul>
	</div>
	{END item28_menulink}
	{BEGIN item34_menulink}
	<div id="item34" class="rnr-b-hmenu {$menustyle} Group {$item34_current}">
	<span class="rnr-hseparator"></span><div>
<img class="menu-icon" src="images/menuicons/setting_tools.png" border=0>
<a {$item34_menulink_attrs}>{$item34_title}</a></div>



			<ul >
			{BEGIN item35_menulink}
			<li  parent="group34" class="Leaf {$item35_current} menuLeaf">
			<div>
<div>
<a {$item35_menulink_attrs}>{$item35_title}</a>
</div>
</div>



			</li>
			{END item35_menulink}
					{BEGIN item36_menulink}
			<li  parent="group34" class="Leaf {$item36_current} menuLeaf">
			<div>
<div>
<a {$item36_menulink_attrs}>{$item36_title}</a>
</div>
</div>



			</li>
			{END item36_menulink}
			</ul>
	</div>
	{END item34_menulink}
	{BEGIN item37_menulink}
	<div id="item37" class="rnr-b-hmenu {$menustyle} Leaf {$item37_current}">
	<span class="rnr-hseparator"></span><div>
<img class="menu-icon" src="images/menuicons/wrench_orange.png" border=0>
<a {$item37_menulink_attrs}>{$item37_title}</a></div>



	</div>
	{END item37_menulink}
	{BEGIN item38_menulink}
	<div id="item38" class="rnr-b-hmenu {$menustyle} Group {$item38_current}">
	<span class="rnr-hseparator"></span><div>
<img class="menu-icon" src="images/menuicons/Alarm clock.png" border=0>
<a {$item38_menulink_attrs}>{$item38_title}</a></div>



			<ul >
			{BEGIN item39_menulink}
			<li  parent="group38" class="Leaf {$item39_current} menuLeaf">
			<div>
<div>
<a {$item39_menulink_attrs}>{$item39_title}</a>
</div>
</div>



			</li>
			{END item39_menulink}
					{BEGIN item40_menulink}
			<li  parent="group38" class="Leaf {$item40_current} menuLeaf">
			<div>
<div>
<a {$item40_menulink_attrs}>{$item40_title}</a>
</div>
</div>



			</li>
			{END item40_menulink}
			</ul>
	</div>
	{END item38_menulink}
	{BEGIN item41_menulink}
	<div id="item41" class="rnr-b-hmenu {$menustyle} Leaf {$item41_current}">
	<span class="rnr-hseparator"></span><div>
<img class="menu-icon" src="images/menuicons/traffic_lights.png" border=0>
<a {$item41_menulink_attrs}>{$item41_title}</a></div>



	</div>
	{END item41_menulink}
	{BEGIN item42_menulink}
	<div id="item42" class="rnr-b-hmenu {$menustyle} Leaf {$item42_current}">
	<span class="rnr-hseparator"></span><div>
<img class="menu-icon" src="images/menuicons/umbrella.png" border=0>
<a {$item42_menulink_attrs}>{$item42_title}</a></div>



	</div>
	{END item42_menulink}


