{BEGIN mainmenu_block}
<table class="runner-hmenu" cellpadding="0">
	<tr>
{BEGIN simpleTypeMenu}
	{BEGIN item1_menulink}
	<td id="item1" view="topitem" class="Group">
	<table cellpadding="0">
	<tr class="runner-menutab{BEGIN item1_current} current{END item1_current}">
		<td class="runner-cl"><img src="images/spacer.gif"></td>
		<td class="runner-cc">	
			<a {$item1_menulink_attrs} {BEGIN item1_current}class="curlink"{END item1_current}>{$item1_title}</a>
		</td>
		<td class="runner-cr"><img src="images/spacer.gif"></td>
	</tr>
</table>	

			<ul id="group1">
			{BEGIN item2_menulink}
			<li id="item2" parent="group1" class="Leaf{BEGIN item2_current} current{END item2_current}">
			&nbsp;<a {$item2_menulink_attrs} {BEGIN item2_current}class="curlink"{END item2_current}>{$item2_title}</a>&nbsp;


			</li>
			{END item2_menulink}
					{BEGIN item3_menulink}
			<li id="item3" parent="group1" class="Leaf{BEGIN item3_current} current{END item3_current}">
			&nbsp;<a {$item3_menulink_attrs} {BEGIN item3_current}class="curlink"{END item3_current}>{$item3_title}</a>&nbsp;


			</li>
			{END item3_menulink}
					{BEGIN item4_menulink}
			<li id="item4" parent="group1" class="Leaf{BEGIN item4_current} current{END item4_current}">
			&nbsp;<a {$item4_menulink_attrs} {BEGIN item4_current}class="curlink"{END item4_current}>{$item4_title}</a>&nbsp;


			</li>
			{END item4_menulink}
					{BEGIN item5_menulink}
			<li id="item5" parent="group1" class="Leaf{BEGIN item5_current} current{END item5_current}">
			&nbsp;<a {$item5_menulink_attrs} {BEGIN item5_current}class="curlink"{END item5_current}>{$item5_title}</a>&nbsp;


			</li>
			{END item5_menulink}
					{BEGIN item6_menulink}
			<li id="item6" parent="group1" class="Leaf{BEGIN item6_current} current{END item6_current}">
			&nbsp;<a {$item6_menulink_attrs} {BEGIN item6_current}class="curlink"{END item6_current}>{$item6_title}</a>&nbsp;


			</li>
			{END item6_menulink}
					{BEGIN item7_menulink}
			<li id="item7" parent="group1" class="Leaf{BEGIN item7_current} current{END item7_current}">
			&nbsp;<a {$item7_menulink_attrs} {BEGIN item7_current}class="curlink"{END item7_current}>{$item7_title}</a>&nbsp;


			</li>
			{END item7_menulink}
					{BEGIN item8_menulink}
			<li id="item8" parent="group1" class="Leaf{BEGIN item8_current} current{END item8_current}">
			&nbsp;<a {$item8_menulink_attrs} {BEGIN item8_current}class="curlink"{END item8_current}>{$item8_title}</a>&nbsp;


			</li>
			{END item8_menulink}
					{BEGIN item9_menulink}
			<li id="item9" parent="group1" class="Leaf{BEGIN item9_current} current{END item9_current}">
			&nbsp;<a {$item9_menulink_attrs} {BEGIN item9_current}class="curlink"{END item9_current}>{$item9_title}</a>&nbsp;


			</li>
			{END item9_menulink}
					{BEGIN item10_menulink}
			<li id="item10" parent="group1" class="Leaf{BEGIN item10_current} current{END item10_current}">
			&nbsp;<a {$item10_menulink_attrs} {BEGIN item10_current}class="curlink"{END item10_current}>{$item10_title}</a>&nbsp;


			</li>
			{END item10_menulink}
					{BEGIN item11_menulink}
			<li id="item11" parent="group1" class="Leaf{BEGIN item11_current} current{END item11_current}">
			&nbsp;<a {$item11_menulink_attrs} {BEGIN item11_current}class="curlink"{END item11_current}>{$item11_title}</a>&nbsp;


			</li>
			{END item11_menulink}
			</ul>
	</td>
	{END item1_menulink}
	{BEGIN item12_menulink}
	<td id="item12" view="topitem" class="Group">
	<table cellpadding="0">
	<tr class="runner-menutab{BEGIN item12_current} current{END item12_current}">
		<td class="runner-cl"><img src="images/spacer.gif"></td>
		<td class="runner-cc">	
			<a {$item12_menulink_attrs} {BEGIN item12_current}class="curlink"{END item12_current}>{$item12_title}</a>
		</td>
		<td class="runner-cr"><img src="images/spacer.gif"></td>
	</tr>
</table>	

			<ul id="group12">
			{BEGIN item13_menulink}
			<li id="item13" parent="group12" class="Leaf{BEGIN item13_current} current{END item13_current}">
			&nbsp;<a {$item13_menulink_attrs} {BEGIN item13_current}class="curlink"{END item13_current}>{$item13_title}</a>&nbsp;


			</li>
			{END item13_menulink}
					{BEGIN item14_menulink}
			<li id="item14" parent="group12" class="Leaf{BEGIN item14_current} current{END item14_current}">
			&nbsp;<a {$item14_menulink_attrs} {BEGIN item14_current}class="curlink"{END item14_current}>{$item14_title}</a>&nbsp;


			</li>
			{END item14_menulink}
					{BEGIN item15_menulink}
			<li id="item15" parent="group12" class="Leaf{BEGIN item15_current} current{END item15_current}">
			&nbsp;<a {$item15_menulink_attrs} {BEGIN item15_current}class="curlink"{END item15_current}>{$item15_title}</a>&nbsp;


			</li>
			{END item15_menulink}
					{BEGIN item16_menulink}
			<li id="item16" parent="group12" class="Leaf{BEGIN item16_current} current{END item16_current}">
			&nbsp;<a {$item16_menulink_attrs} {BEGIN item16_current}class="curlink"{END item16_current}>{$item16_title}</a>&nbsp;


			</li>
			{END item16_menulink}
					{BEGIN item17_menulink}
			<li id="item17" parent="group12" class="Leaf{BEGIN item17_current} current{END item17_current}">
			&nbsp;<a {$item17_menulink_attrs} {BEGIN item17_current}class="curlink"{END item17_current}>{$item17_title}</a>&nbsp;


			</li>
			{END item17_menulink}
					{BEGIN item18_menulink}
			<li id="item18" parent="group12" class="Leaf{BEGIN item18_current} current{END item18_current}">
			&nbsp;<a {$item18_menulink_attrs} {BEGIN item18_current}class="curlink"{END item18_current}>{$item18_title}</a>&nbsp;


			</li>
			{END item18_menulink}
			</ul>
	</td>
	{END item12_menulink}
	{BEGIN item19_menulink}
	<td id="item19" view="topitem" class="Group">
	<table cellpadding="0">
	<tr class="runner-menutab{BEGIN item19_current} current{END item19_current}">
		<td class="runner-cl"><img src="images/spacer.gif"></td>
		<td class="runner-cc">	
			<a {$item19_menulink_attrs} {BEGIN item19_current}class="curlink"{END item19_current}>{$item19_title}</a>
		</td>
		<td class="runner-cr"><img src="images/spacer.gif"></td>
	</tr>
</table>	

			<ul id="group19">
			{BEGIN item20_menulink}
			<li id="item20" parent="group19" class="Leaf{BEGIN item20_current} current{END item20_current}">
			&nbsp;<a {$item20_menulink_attrs} {BEGIN item20_current}class="curlink"{END item20_current}>{$item20_title}</a>&nbsp;


			</li>
			{END item20_menulink}
					{BEGIN item21_menulink}
			<li id="item21" parent="group19" class="Leaf{BEGIN item21_current} current{END item21_current}">
			&nbsp;<a {$item21_menulink_attrs} {BEGIN item21_current}class="curlink"{END item21_current}>{$item21_title}</a>&nbsp;


			</li>
			{END item21_menulink}
			</ul>
	</td>
	{END item19_menulink}
	{BEGIN item22_menulink}
	<td id="item22" view="topitem" class="Leaf">
	<table cellpadding="0">
	<tr class="runner-menutab{BEGIN item22_current} current{END item22_current}">
		<td class="runner-cl"><img src="images/spacer.gif"></td>
		<td class="runner-cc">	
			<a {$item22_menulink_attrs} {BEGIN item22_current}class="curlink"{END item22_current}>{$item22_title}</a>
		</td>
		<td class="runner-cr"><img src="images/spacer.gif"></td>
	</tr>
</table>	

	</td>
	{END item22_menulink}
	{BEGIN item23_menulink}
	<td id="item23" view="topitem" class="Group">
	<table cellpadding="0">
	<tr class="runner-menutab{BEGIN item23_current} current{END item23_current}">
		<td class="runner-cl"><img src="images/spacer.gif"></td>
		<td class="runner-cc">	
			<a {$item23_menulink_attrs} {BEGIN item23_current}class="curlink"{END item23_current}>{$item23_title}</a>
		</td>
		<td class="runner-cr"><img src="images/spacer.gif"></td>
	</tr>
</table>	

			<ul id="group23">
			{BEGIN item24_menulink}
			<li id="item24" parent="group23" class="Leaf{BEGIN item24_current} current{END item24_current}">
			&nbsp;<a {$item24_menulink_attrs} {BEGIN item24_current}class="curlink"{END item24_current}>{$item24_title}</a>&nbsp;


			</li>
			{END item24_menulink}
					{BEGIN item25_menulink}
			<li id="item25" parent="group23" class="Leaf{BEGIN item25_current} current{END item25_current}">
			&nbsp;<a {$item25_menulink_attrs} {BEGIN item25_current}class="curlink"{END item25_current}>{$item25_title}</a>&nbsp;


			</li>
			{END item25_menulink}
					{BEGIN item26_menulink}
			<li id="item26" parent="group23" class="Leaf{BEGIN item26_current} current{END item26_current}">
			&nbsp;<a {$item26_menulink_attrs} {BEGIN item26_current}class="curlink"{END item26_current}>{$item26_title}</a>&nbsp;


			</li>
			{END item26_menulink}
					{BEGIN item27_menulink}
			<li id="item27" parent="group23" class="Leaf{BEGIN item27_current} current{END item27_current}">
			&nbsp;<a {$item27_menulink_attrs} {BEGIN item27_current}class="curlink"{END item27_current}>{$item27_title}</a>&nbsp;


			</li>
			{END item27_menulink}
			</ul>
	</td>
	{END item23_menulink}
	{BEGIN item28_menulink}
	<td id="item28" view="topitem" class="Group">
	<table cellpadding="0">
	<tr class="runner-menutab{BEGIN item28_current} current{END item28_current}">
		<td class="runner-cl"><img src="images/spacer.gif"></td>
		<td class="runner-cc">	
			<a {$item28_menulink_attrs} {BEGIN item28_current}class="curlink"{END item28_current}>{$item28_title}</a>
		</td>
		<td class="runner-cr"><img src="images/spacer.gif"></td>
	</tr>
</table>	

			<ul id="group28">
			{BEGIN item29_menulink}
			<li id="item29" parent="group28" class="Leaf{BEGIN item29_current} current{END item29_current}">
			&nbsp;<a {$item29_menulink_attrs} {BEGIN item29_current}class="curlink"{END item29_current}>{$item29_title}</a>&nbsp;


			</li>
			{END item29_menulink}
					{BEGIN item30_menulink}
			<li id="item30" parent="group28" class="Leaf{BEGIN item30_current} current{END item30_current}">
			&nbsp;<a {$item30_menulink_attrs} {BEGIN item30_current}class="curlink"{END item30_current}>{$item30_title}</a>&nbsp;


			</li>
			{END item30_menulink}
					{BEGIN item31_menulink}
			<li id="item31" parent="group28" class="Leaf{BEGIN item31_current} current{END item31_current}">
			&nbsp;<a {$item31_menulink_attrs} {BEGIN item31_current}class="curlink"{END item31_current}>{$item31_title}</a>&nbsp;


			</li>
			{END item31_menulink}
					{BEGIN item32_menulink}
			<li id="item32" parent="group28" class="Leaf{BEGIN item32_current} current{END item32_current}">
			&nbsp;<a {$item32_menulink_attrs} {BEGIN item32_current}class="curlink"{END item32_current}>{$item32_title}</a>&nbsp;


			</li>
			{END item32_menulink}
					{BEGIN item33_menulink}
			<li id="item33" parent="group28" class="Leaf{BEGIN item33_current} current{END item33_current}">
			&nbsp;<a {$item33_menulink_attrs} {BEGIN item33_current}class="curlink"{END item33_current}>{$item33_title}</a>&nbsp;


			</li>
			{END item33_menulink}
			</ul>
	</td>
	{END item28_menulink}
	{BEGIN item34_menulink}
	<td id="item34" view="topitem" class="Group">
	<table cellpadding="0">
	<tr class="runner-menutab{BEGIN item34_current} current{END item34_current}">
		<td class="runner-cl"><img src="images/spacer.gif"></td>
		<td class="runner-cc">	
			<a {$item34_menulink_attrs} {BEGIN item34_current}class="curlink"{END item34_current}>{$item34_title}</a>
		</td>
		<td class="runner-cr"><img src="images/spacer.gif"></td>
	</tr>
</table>	

			<ul id="group34">
			{BEGIN item35_menulink}
			<li id="item35" parent="group34" class="Leaf{BEGIN item35_current} current{END item35_current}">
			&nbsp;<a {$item35_menulink_attrs} {BEGIN item35_current}class="curlink"{END item35_current}>{$item35_title}</a>&nbsp;


			</li>
			{END item35_menulink}
					{BEGIN item36_menulink}
			<li id="item36" parent="group34" class="Leaf{BEGIN item36_current} current{END item36_current}">
			&nbsp;<a {$item36_menulink_attrs} {BEGIN item36_current}class="curlink"{END item36_current}>{$item36_title}</a>&nbsp;


			</li>
			{END item36_menulink}
			</ul>
	</td>
	{END item34_menulink}
	{BEGIN item37_menulink}
	<td id="item37" view="topitem" class="Leaf">
	<table cellpadding="0">
	<tr class="runner-menutab{BEGIN item37_current} current{END item37_current}">
		<td class="runner-cl"><img src="images/spacer.gif"></td>
		<td class="runner-cc">	
			<a {$item37_menulink_attrs} {BEGIN item37_current}class="curlink"{END item37_current}>{$item37_title}</a>
		</td>
		<td class="runner-cr"><img src="images/spacer.gif"></td>
	</tr>
</table>	

	</td>
	{END item37_menulink}
	{BEGIN item38_menulink}
	<td id="item38" view="topitem" class="Group">
	<table cellpadding="0">
	<tr class="runner-menutab{BEGIN item38_current} current{END item38_current}">
		<td class="runner-cl"><img src="images/spacer.gif"></td>
		<td class="runner-cc">	
			<a {$item38_menulink_attrs} {BEGIN item38_current}class="curlink"{END item38_current}>{$item38_title}</a>
		</td>
		<td class="runner-cr"><img src="images/spacer.gif"></td>
	</tr>
</table>	

			<ul id="group38">
			{BEGIN item39_menulink}
			<li id="item39" parent="group38" class="Leaf{BEGIN item39_current} current{END item39_current}">
			&nbsp;<a {$item39_menulink_attrs} {BEGIN item39_current}class="curlink"{END item39_current}>{$item39_title}</a>&nbsp;


			</li>
			{END item39_menulink}
					{BEGIN item40_menulink}
			<li id="item40" parent="group38" class="Leaf{BEGIN item40_current} current{END item40_current}">
			&nbsp;<a {$item40_menulink_attrs} {BEGIN item40_current}class="curlink"{END item40_current}>{$item40_title}</a>&nbsp;


			</li>
			{END item40_menulink}
			</ul>
	</td>
	{END item38_menulink}
	{BEGIN item41_menulink}
	<td id="item41" view="topitem" class="Leaf">
	<table cellpadding="0">
	<tr class="runner-menutab{BEGIN item41_current} current{END item41_current}">
		<td class="runner-cl"><img src="images/spacer.gif"></td>
		<td class="runner-cc">	
			<a {$item41_menulink_attrs} {BEGIN item41_current}class="curlink"{END item41_current}>{$item41_title}</a>
		</td>
		<td class="runner-cr"><img src="images/spacer.gif"></td>
	</tr>
</table>	

	</td>
	{END item41_menulink}
	{BEGIN item42_menulink}
	<td id="item42" view="topitem" class="Leaf">
	<table cellpadding="0">
	<tr class="runner-menutab{BEGIN item42_current} current{END item42_current}">
		<td class="runner-cl"><img src="images/spacer.gif"></td>
		<td class="runner-cc">	
			<a {$item42_menulink_attrs} {BEGIN item42_current}class="curlink"{END item42_current}>{$item42_title}</a>
		</td>
		<td class="runner-cr"><img src="images/spacer.gif"></td>
	</tr>
</table>	

	</td>
	{END item42_menulink}
	{BEGIN adminarea_link}
	<td id="itemAA" view="topitem" class="Leaf">
	<table class="runner-c" cellpadding="0">
		<tr class="runner-toprow style1">
			<td class="runner-cl"><img src="images/spacer.gif"></td>
			<td class="runner-cc">	
				<a {$itemAA_menulink_attrs} {$adminarealink_attrs}>{$itemAA_title}</a>
			</td>
			<td class="runner-cr"><img src="images/spacer.gif"></td>
		</tr>
	</table>	
</td>	
	{END adminarea_link}
{END simpleTypeMenu}

{BEGIN adminAreaTypeMenu}
{BEGIN item1_menulink}
<td id="item1" view="topitem" class="Leaf runner-cc runner-bl runner-b-hmenu">
	<table class="runner-hmenu" cellpadding="0">
		<tr class="runner-menutab{BEGIN item1_current} current{END item1_current}">
			<td class="runner-cl"><img src="images/spacer.gif"></td>
			<td class="runner-cc">	
				<a {$item1_menulink_attrs} class="curlink">{$item1_title}</a>
			</td>
			<td class="runner-cr"><img src="images/spacer.gif"></td>
		</tr>
	</table>	
</td>
{END item1_menulink}
{BEGIN item2_menulink}
<td id="item2" view="topitem" class="Leaf runner-cc runner-bl runner-b-hmenu">
	<table class="runner-hmenu" cellpadding="0">
		<tr class="runner-menutab{BEGIN item2_current} current{END item2_current}">
			<td class="runner-cl"><img src="images/spacer.gif"></td>
			<td class="runner-cc">	
				<a {$item2_menulink_attrs} class="curlink">{$item2_title}</a>
			</td>
			<td class="runner-cr"><img src="images/spacer.gif"></td>
		</tr>
	</table>	
</td>
{END item2_menulink}
{BEGIN item3_menulink}
<td id="item3" view="topitem" class="Leaf runner-cc runner-bl runner-b-hmenu">
	<table class="runner-hmenu" cellpadding="0">
		<tr class="runner-menutab{BEGIN item3_current} current{END item3_current}">
			<td class="runner-cl"><img src="images/spacer.gif"></td>
			<td class="runner-cc">	
				<a {$item3_menulink_attrs} class="curlink">{$item3_title}</a>
			</td>
			<td class="runner-cr"><img src="images/spacer.gif"></td>
		</tr>
	</table>	
</td>
{END item3_menulink}


{END adminAreaTypeMenu}
	</tr>
</table>	
{END mainmenu_block}
